    Index Investing vs Active Investing
    Copyright (C) 2022 Wagner Bertholdo Burghausen
	<https://github.com/wagner-b>, <wagb2b2@gmail.com>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

    Disclaimer: This file contains only educational content. There is NO investment advice 
    or financial advice of any kind here. I am NOT a financial advisor, and I take 
    NO responsibility over the consequences of any investing decision you take.

# Index Investing v.s. Active Investing

## 1. Introduction

First, a quick context about index investing and active investing (market timing) for those unfamiliar:

> From [Investopedia](https://www.investopedia.com/terms/p/passiveinvesting.asp): "Index investing in one common passive investing strategy whereby investors purchase a representative benchmark, such as the S&P 500 index, and hold it over a long time horizon. [...]. Passive investment is cheaper, less complex, and often produces superior after-tax results over medium to long time horizons than actively managed portfolios."

> Also from [Investopedia](https://www.investopedia.com/articles/stocks/08/passive-active-investing.asp): "Market timing includes actively buying and selling to try and get into the market at the most advantageous times while avoiding the disastrous times. Research shows that long-term buy-and-hold tends to outperform, where market timing remains very difficult. Much of the marketâ€™s greatest returns or declines are concentrated in a short time frame."

In this project, I want to test the above affirmation that "long-term buy-and-hold tends to outperform" active investing strategies. I will analyze real world data over a long time period (2007 - 2022), and I will create a computer algorithm to manage the active investing strategy (market timing), thus removing any human emotional factor, which in many occasions could play a big role in the "generally inferior results" of active investing strategies, compared to index investing.

Please, keep in mind I am not considering any fees or taxes that may be applicable in real life, since there is too much variation depending on where you live and what services you use. I should also remind you that nothing in this file is financial advise of any kind, everything here is just educational content.

## 2. Defining project goals and how to achieve them

#### The goal of this project is to create a computer algorithm to manage an active investing portfolio (based on stock picking and market timing), and compare its returns against those of the S&P 500 index, from 2007 to 2022.

In this project, I will create a computer algorithm that manages a theoretical investing portfolio, and partakes in active trading, chosing between stocks listed on the S&P 500 index (taking into account the changes in the composition of this index over time). I will use arbitrary criteria for which factors will be a trigger for adding, maintaining or removing stocks from the portfolio. Everything will depend on which factors give the best possible returns for the training dataset.

Then, I will run (only once) the final strategy model against the validation dataset (a separate dataset in the relative future compared to the training dataset), and compare its returns with the returns of the S&P 500 index. Although I do not plan on using machine learning in this project, I choose to separate the training and validation datasets in order to be as fair as possible, and to avoid misleading interpretation of the results in case __overfitting__ happens.

> From [IBM](https://www.ibm.com/cloud/learn/overfitting): "**Overfitting** is a concept in data science, which occurs when a statistical model fits exactly against its training data. When this happens, the algorithm unfortunately cannot perform accurately against unseen data, defeating its purpose."

Another important detail is that I will **not** use the current S&P 500 composition to pick stocks in the past, because that would introduce a very serious kind of selection bias in my study, called survivorship bias. To avoid that, I will collect and clean the monthly S&P 500 composition data during the entire time period of this study.

> From [Wikipedia](https://en.wikipedia.org/wiki/Survivorship_bias): "__Survivorship bias__, __survival bias__ or __immortal time bias__ is the logical error of concentrating on the people or things that made it past some selection process and overlooking those that did not, typically because of their lack of visibility. [...]. Survivorship bias is a form of selection bias that can lead to overly optimistic beliefs because multiple failures are overlooked, such as when companies that no longer exist are excluded from analyses of financial performance."

## 3. Collecting the complete dataset of the S&P 500 composition from 2007 to 2022

In [1]:
from calendar import monthrange
from datetime import date
from datetime import datetime
import numpy as np
from pandas_datareader import data as pdr
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick

I will use the `monthrange` function of the `calendar` library to find what is the last day of the month in each year and month. The examples below shows this functions returns a tuple where the first element is the day of the week (Monday = 0 -> Sunday = 6) of day 1, and the second element is the last day of that month in that year.

In [2]:
monthrange(2006, 10)

(6, 31)

In [3]:
print(monthrange(2006, 10)[1])
print(monthrange(2006, 10)[-1])

31
31

In [4]:
date(2006, 10, 1).weekday()

6

In [5]:
date(2022, 10, 24).weekday()

0

I need to generate a list with the dates of each final business day of the month (so saturdays and sundays should not be on this list) for the entire time period. Below, I created the `return_last_business_day` function to help me with that. It also deals with some special conditions imposed by the source of the S&P 500 composition data used here (ishares website).

In [19]:
def return_last_business_day(YYYY, MM):
    """
        Checks if the last day of the month is Saturday or
    Sunday, and if it is, returns day-1 or day-2, respectively.
    If last day of month is business day, simply return that day.
    I've included special conditions for some years in March.
    """
    
    # Special conditions because of ishares data
    if YYYY == 2013 and MM == 3:
        return 28
    if YYYY == 2018 and MM == 3:
        return 29
    
    # This is the otherwise "normal execution" of the function
    last_day = monthrange(YYYY, MM)[-1]
    
    if date(YYYY, MM, last_day).weekday() == 5:
        return (last_day - 1)
    elif date(YYYY, MM, last_day).weekday() == 6:
        return (last_day - 2)
    else:
        return last_day


# Creating the list with the last business day of each month
end_of_month_dates = [date(2006, 10, 31), date(2006, 11, 30),
                      date(2006, 12, 29)]

for year in range(2007, 2023):
    for month in range(1, 13):
        business_day = return_last_business_day(year, month)
        end_of_month_dates.append(date(year, month,
                                       business_day))

end_of_month_dates

[datetime.date(2006, 10, 31),
 datetime.date(2006, 11, 30),
 datetime.date(2006, 12, 29),
 datetime.date(2007, 1, 31),
 datetime.date(2007, 2, 28),
 datetime.date(2007, 3, 30),
 datetime.date(2007, 4, 30),
 datetime.date(2007, 5, 31),
 datetime.date(2007, 6, 29),
 datetime.date(2007, 7, 31),
 datetime.date(2007, 8, 31),
 datetime.date(2007, 9, 28),
 datetime.date(2007, 10, 31),
 datetime.date(2007, 11, 30),
 datetime.date(2007, 12, 31),
 datetime.date(2008, 1, 31),
 datetime.date(2008, 2, 29),
 datetime.date(2008, 3, 31),
 datetime.date(2008, 4, 30),
 datetime.date(2008, 5, 30),
 datetime.date(2008, 6, 30),
 datetime.date(2008, 7, 31),
 datetime.date(2008, 8, 29),
 datetime.date(2008, 9, 30),
 datetime.date(2008, 10, 31),
 datetime.date(2008, 11, 28),
 datetime.date(2008, 12, 31),
 datetime.date(2009, 1, 30),
 datetime.date(2009, 2, 27),
 datetime.date(2009, 3, 31),
 datetime.date(2009, 4, 30),
 datetime.date(2009, 5, 29),
 datetime.date(2009, 6, 30),
 datetime.date(2009, 7, 31),
 datetime.date(2009, 8, 31),
 datetime.date(2009, 9, 30),
 datetime.date(2009, 10, 30),
 datetime.date(2009, 11, 30),
 datetime.date(2009, 12, 31),
 datetime.date(2010, 1, 29),
 datetime.date(2010, 2, 26),
 datetime.date(2010, 3, 31),
 datetime.date(2010, 4, 30),
 datetime.date(2010, 5, 31),
 datetime.date(2010, 6, 30),
 datetime.date(2010, 7, 30),
 datetime.date(2010, 8, 31),
 datetime.date(2010, 9, 30),
 datetime.date(2010, 10, 29),
 datetime.date(2010, 11, 30),
 datetime.date(2010, 12, 31),
 datetime.date(2011, 1, 31),
 datetime.date(2011, 2, 28),
 datetime.date(2011, 3, 31),
 datetime.date(2011, 4, 29),
 datetime.date(2011, 5, 31),
 datetime.date(2011, 6, 30),
 datetime.date(2011, 7, 29),
 datetime.date(2011, 8, 31),
 datetime.date(2011, 9, 30),
 datetime.date(2011, 10, 31),
 datetime.date(2011, 11, 30),
 datetime.date(2011, 12, 30),
 datetime.date(2012, 1, 31),
 datetime.date(2012, 2, 29),
 datetime.date(2012, 3, 30),
 datetime.date(2012, 4, 30),
 datetime.date(2012, 5, 31),
 datetime.date(2012, 6, 29),
 datetime.date(2012, 7, 31),
 datetime.date(2012, 8, 31),
 datetime.date(2012, 9, 28),
 datetime.date(2012, 10, 31),
 datetime.date(2012, 11, 30),
 datetime.date(2012, 12, 31),
 datetime.date(2013, 1, 31),
 datetime.date(2013, 2, 28),
 datetime.date(2013, 3, 28),
 datetime.date(2013, 4, 30),
 datetime.date(2013, 5, 31),
 datetime.date(2013, 6, 28),
 datetime.date(2013, 7, 31),
 datetime.date(2013, 8, 30),
 datetime.date(2013, 9, 30),
 datetime.date(2013, 10, 31),
 datetime.date(2013, 11, 29),
 datetime.date(2013, 12, 31),
 datetime.date(2014, 1, 31),
 datetime.date(2014, 2, 28),
 datetime.date(2014, 3, 31),
 datetime.date(2014, 4, 30),
 datetime.date(2014, 5, 30),
 datetime.date(2014, 6, 30),
 datetime.date(2014, 7, 31),
 datetime.date(2014, 8, 29),
 datetime.date(2014, 9, 30),
 datetime.date(2014, 10, 31),
 datetime.date(2014, 11, 28),
 datetime.date(2014, 12, 31),
 datetime.date(2015, 1, 30),
 datetime.date(2015, 2, 27),
 datetime.date(2015, 3, 31),
 datetime.date(2015, 4, 30),
 datetime.date(2015, 5, 29),
 datetime.date(2015, 6, 30),
 datetime.date(2015, 7, 31),
 datetime.date(2015, 8, 31),
 datetime.date(2015, 9, 30),
 datetime.date(2015, 10, 30),
 datetime.date(2015, 11, 30),
 datetime.date(2015, 12, 31),
 datetime.date(2016, 1, 29),
 datetime.date(2016, 2, 29),
 datetime.date(2016, 3, 31),
 datetime.date(2016, 4, 29),
 datetime.date(2016, 5, 31),
 datetime.date(2016, 6, 30),
 datetime.date(2016, 7, 29),
 datetime.date(2016, 8, 31),
 datetime.date(2016, 9, 30),
 datetime.date(2016, 10, 31),
 datetime.date(2016, 11, 30),
 datetime.date(2016, 12, 30),
 datetime.date(2017, 1, 31),
 datetime.date(2017, 2, 28),
 datetime.date(2017, 3, 31),
 datetime.date(2017, 4, 28),
 datetime.date(2017, 5, 31),
 datetime.date(2017, 6, 30),
 datetime.date(2017, 7, 31),
 datetime.date(2017, 8, 31),
 datetime.date(2017, 9, 29),
 datetime.date(2017, 10, 31),
 datetime.date(2017, 11, 30),
 datetime.date(2017, 12, 29),
 datetime.date(2018, 1, 31),
 datetime.date(2018, 2, 28),
 datetime.date(2018, 3, 29),
 datetime.date(2018, 4, 30),
 datetime.date(2018, 5, 31),
 datetime.date(2018, 6, 29),
 datetime.date(2018, 7, 31),
 datetime.date(2018, 8, 31),
 datetime.date(2018, 9, 28),
 datetime.date(2018, 10, 31),
 datetime.date(2018, 11, 30),
 datetime.date(2018, 12, 31),
 datetime.date(2019, 1, 31),
 datetime.date(2019, 2, 28),
 datetime.date(2019, 3, 29),
 datetime.date(2019, 4, 30),
 datetime.date(2019, 5, 31),
 datetime.date(2019, 6, 28),
 datetime.date(2019, 7, 31),
 datetime.date(2019, 8, 30),
 datetime.date(2019, 9, 30),
 datetime.date(2019, 10, 31),
 datetime.date(2019, 11, 29),
 datetime.date(2019, 12, 31),
 datetime.date(2020, 1, 31),
 datetime.date(2020, 2, 28),
 datetime.date(2020, 3, 31),
 datetime.date(2020, 4, 30),
 datetime.date(2020, 5, 29),
 datetime.date(2020, 6, 30),
 datetime.date(2020, 7, 31),
 datetime.date(2020, 8, 31),
 datetime.date(2020, 9, 30),
 datetime.date(2020, 10, 30),
 datetime.date(2020, 11, 30),
 datetime.date(2020, 12, 31),
 datetime.date(2021, 1, 29),
 datetime.date(2021, 2, 26),
 datetime.date(2021, 3, 31),
 datetime.date(2021, 4, 30),
 datetime.date(2021, 5, 31),
 datetime.date(2021, 6, 30),
 datetime.date(2021, 7, 30),
 datetime.date(2021, 8, 31),
 datetime.date(2021, 9, 30),
 datetime.date(2021, 10, 29),
 datetime.date(2021, 11, 30),
 datetime.date(2021, 12, 31),
 datetime.date(2022, 1, 31),
 datetime.date(2022, 2, 28),
 datetime.date(2022, 3, 31),
 datetime.date(2022, 4, 29),
 datetime.date(2022, 5, 31),
 datetime.date(2022, 6, 30),
 datetime.date(2022, 7, 29),
 datetime.date(2022, 8, 31),
 datetime.date(2022, 9, 30),
 datetime.date(2022, 10, 31),
 datetime.date(2022, 11, 30),
 datetime.date(2022, 12, 30)]

As stated previously, I will use the [ishares website](https://www.ishares.com/us/products/239726/ishares-core-sp-500-etf) as the source of the data for the S&P 500 components. This is a very trustworthy source of data, since iShares is in charge of one of the three largest S&P 500 ETFs, the iShares Core S&P 500 ETF (ticker: IVV) that many investors know and buy in order to replicate the returns of the S&P 500 index in their own portfolios.

> From [NewPortQuant](): "IVV is one of the three largest S&P 500 ETFs (the other two are SPY and VOO). IVV provides daily holding reports since March 24, 2017, and end-of-month holding reports since September 2006."

If you click on the link in the cell below, you will be prompted to download a csv file containing the data of the S&P 500 components in Oct 31, 2006. To download the data for the entire time period of this study, I just need to loop over the list I created previously, and replace the last part of this link with the dates on my list (without any separators).

https://www.ishares.com/us/products/239726/ishares-core-sp-500-etf/1467271812596.ajax?fileType=csv&fileName=IVV_holdings&dataType=fund&asOfDate=20061031

In many time periods, the S&P 500 contains more than 500 tickers of companies (mostly because of different share classes of stocks for the same company). The number of tickers of the S&P 500 varies between 500 and 519, so I created the `complete_with_nan` function to make every pandas series (with the S&P 500 tickers) have exactly 520 lines, so there would be no issues later when I try to concatenate all these series in a pandas dataframe.

Inside the loop, I use the `skiprows = 9` option in the `pd.read_csv` funcion, and then select `[:-2]` and `['Ticker']` to clean the data and get only the tickers column.

In [20]:
# Creating the monthly dataframe with S&P 500 tickers
# We will download the csv files with the tickers from ishares website

# def complete_with_nan(pandas_series):
#     """Complete a pandas series with NaN until it has 520 lines"""
#     i = len(pandas_series)
#     while i < 520:
#         pandas_series[i] = np.nan
#         i += 1

# url = r"https://www.ishares.com/us/products/239726/ishares-core-sp-500-etf/1467271812596.ajax?fileType=csv&fileName=IVV_holdings&dataType=fund&asOfDate="

# df_sp500_tickers = pd.DataFrame()

# # Dowload, clean and store the tickers of S&P 500 each month
# for end_of_month in end_of_month_dates:
#     tickers = pd.read_csv(url + str(end_of_month).replace('-', ''),
#                           skiprows = 9)[:-2]['Ticker']
#     tickers.name = end_of_month
#     complete_with_nan(tickers)
#     df_sp500_tickers = pd.concat([df_sp500_tickers, tickers], axis = 1)

# df_sp500_tickers

,2006-10-31,2006-11-30,2006-12-29,2007-01-31,2007-02-28,2007-03-30,2007-04-30,2007-05-31,2007-06-29,2007-07-31,...,2022-03-31,2022-04-29,2022-05-31,2022-06-30,2022-07-29,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-30
0,PMCS,PMCS,PMCS,PMCS,PMCS,BGIXX,PMCS,PMCS,PMCS,CCTYQ,...,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,NaN,NaN,NaN
1,PGL,ADCT,ADCT,PGL,ADCT,PMCS,SANM,SANM,SANM,GAS.2,...,MSFT,MSFT,MSFT,MSFT,MSFT,MSFT,MSFT,NaN,NaN,NaN
2,ADCT,PGL,PGL,SANM,SANM,SANM,DDS,ADCT,GAS.2,DDS,...,AMZN,AMZN,AMZN,AMZN,AMZN,AMZN,AMZN,NaN,NaN,NaN
3,NAV,NAV,SANM,ADCT,DDS,ADCT,ADCT,GAS.2,CCTYQ,QLG,...,TSLA,TSLA,GOOGL,GOOGL,TSLA,TSLA,TSLA,NaN,NaN,NaN
4,DDS,SANM,PMTC,GAS.2,GAS.2,DDS,HPC,HPC,ADCT,MDP,...,GOOGL,GOOGL,TSLA,GOOG,GOOGL,GOOGL,GOOGL,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Uncomment to store the data locally in the current directory (~ 661 KB)
# df_sp500_tickers.to_pickle('df_sp500_tickers.pkl')

In [9]:
# Uncomment to read the data stored locally
df_sp500_tickers = pd.read_pickle('df_sp500_tickers.pkl')
df_sp500_tickers

,2006-10-31,2006-11-30,2006-12-29,2007-01-31,2007-02-28,2007-03-30,2007-04-30,2007-05-31,2007-06-29,2007-07-31,...,2022-03-31,2022-04-29,2022-05-31,2022-06-30,2022-07-29,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-30
0,PMCS,PMCS,PMCS,PMCS,PMCS,BGIXX,PMCS,PMCS,PMCS,CCTYQ,...,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,NaN,NaN,NaN
1,PGL,ADCT,ADCT,PGL,ADCT,PMCS,SANM,SANM,SANM,GAS.2,...,MSFT,MSFT,MSFT,MSFT,MSFT,MSFT,MSFT,NaN,NaN,NaN
2,ADCT,PGL,PGL,SANM,SANM,SANM,DDS,ADCT,GAS.2,DDS,...,AMZN,AMZN,AMZN,AMZN,AMZN,AMZN,AMZN,NaN,NaN,NaN
3,NAV,NAV,SANM,ADCT,DDS,ADCT,ADCT,GAS.2,CCTYQ,QLG,...,TSLA,TSLA,GOOGL,GOOGL,TSLA,TSLA,TSLA,NaN,NaN,NaN
4,DDS,SANM,PMTC,GAS.2,GAS.2,DDS,HPC,HPC,ADCT,MDP,...,GOOGL,GOOGL,TSLA,GOOG,GOOGL,GOOGL,GOOGL,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Done. I have the tickers of the S&P 500 for most of my study time period. But there are still missing data for some months:

In [22]:
a = df_sp500_tickers.isnull().sum()
display(a[a == 520])

2010-05-31    520
2017-01-31    520
2017-02-28    520
2017-03-31    520
2017-04-28    520
2017-05-31    520
2017-06-30    520
2022-10-31    520
2022-11-30    520
2022-12-30    520
dtype: int64

The series above show the months that have only NaN. The final months of 2022 in the list have NaNs because they are in the future at the time I am writing this, so obviously there is no data yet.

Other than that, there is missing data in ishares website for some months. To deal with those, I will generate the composition of the S&P 500 for those months based on the public data of the changes in the S&P 500 components, available at the [NewPortQuant website](https://newportquant.com/historical-components-of-sp-500-index/). 

To download the csv file, click on the link above the table on that web page (or click [here](https://docs.google.com/spreadsheets/d/1xkq2kkf-iElKl9BhEwqQx3Pgkh0B9dFKJpefQ4oOI_g/edit#gid=455032226)), then click File -> Download -> Comma Separated Values (.csv). Then put the csv file in the same directory of this notebook, in case you are running it locally.

In [23]:
changes_sp500 = pd.read_csv('sp500change - sp500change.csv',
                            skiprows = 2, parse_dates = [0, 1])
changes_sp500

,DateBeforeChange,DateAfterChange,Change,Ticker,Name,Sector,Exchange
0,2022-02-28,2022-03-01,1,MOH,MOLINA HEALTHCARE INC,Health Care,New York Stock Exchange Inc.
1,2022-02-25,2022-02-28,-1,INFO,IHS MARKIT LTD,Industrials,New York Stock Exchange Inc.
2,2022-02-16,2022-02-17,1,PARA,PARAMOUNT GLOBAL CLASS B,Communication,NASDAQ
3,2022-02-16,2022-02-17,-1,VIAC,VIACOMCBS INC CLASS B,Communication,NASDAQ
4,2022-02-11,2022-02-14,1,NDSN,NORDSON CORP,Industrials,NASDAQ
...,...,...,...,...,...,...,...
973,2006-10-31,2006-11-30,-1,LPX,LOUISIANA PACIFIC CORP,-,New York Stock Exchange Inc.
974,2006-09-29,2006-10-31,1,SII,SMITH INTERNATIONAL,-,New York Stock Exchange Inc.
975,2006-09-29,2006-10-31,1,WU,WESTERN UNION,-,New York Stock Exchange Inc.
976,2006-09-29,2006-10-31,-1,ANDW,ANDREW CORP.,-,NASDAQ
977,2006-09-29,2006-10-31,-1,GDW,GOLDEN WEST FINANCIAL CORPORATION,-,New York Stock Exchange Inc.

This table shows the ticker, when the change occurred, and whether the company was removed (Change = -1), or added (Change = 1) to the S&P 500 index. With this data, I can generate the data that was missing in the `df_sp500_tickers` dataframe.

In [24]:
changes_sp500.loc[changes_sp500.DateAfterChange >= datetime(2010, 4, 30)].loc[changes_sp500.DateAfterChange <= datetime(2010, 6, 30)]

,DateBeforeChange,DateAfterChange,Change,Ticker,Name,Sector,Exchange
727,2010-05-28,2010-06-30,1,KMX,CARMAX INC,Consumer Discretionary,New York Stock Exchange Inc.
728,2010-05-28,2010-06-30,-1,XTO,XTO ENERGY INC,Energy,New York Stock Exchange Inc.
729,2010-03-31,2010-04-30,1,CERN,CERNER CORP,Health Care,NASDAQ
730,2010-03-31,2010-04-30,-1,BJS,BJ SERVICES CO,Energy,New York Stock Exchange Inc.

Those are the changes from April 2010 to June 2010. So to generate the S&P 500 composition for '2010-05-31', I just need to copy from '2010-04-30', since there were changes only in April and June, but not in May (`DateAfterChange` column).

In [25]:
df_sp500_tickers[date(2010, 5, 31)] = df_sp500_tickers[date(2010, 4, 30)]
a = df_sp500_tickers.isnull().sum()
display(a[a == 520])

2017-01-31    520
2017-02-28    520
2017-03-31    520
2017-04-28    520
2017-05-31    520
2017-06-30    520
2022-10-31    520
2022-11-30    520
2022-12-30    520
dtype: int64

Now I just need to generate the missing data between January and June of 2017. Below are the changes in the S&P 500 composition during this period.

In [29]:
changes_sp500.loc[changes_sp500.DateAfterChange >= datetime(2017, 1, 1)].loc[changes_sp500.DateAfterChange <= datetime(2017, 6, 30)]

,DateBeforeChange,DateAfterChange,Change,Ticker,Name,Sector,Exchange
268,2017-06-15,2017-06-16,1,ALGN,ALIGN TECHNOLOGY INC,Health Care,NASDAQ
269,2017-06-15,2017-06-16,1,ANSS,ANSYS INC,Information Technology,NASDAQ
270,2017-06-15,2017-06-16,1,HLT,HILTON WORLDWIDE HOLDINGS INC,Consumer Discretionary,New York Stock Exchange Inc.
271,2017-06-15,2017-06-16,1,RE,EVEREST RE GROUP LTD,Financials,New York Stock Exchange Inc.
272,2017-06-15,2017-06-16,-1,R,RYDER SYSTEM INC,Industrials,New York Stock Exchange Inc.
273,2017-06-15,2017-06-16,-1,TDC,TERADATA CORP,Information Technology,New York Stock Exchange Inc.
274,2017-06-15,2017-06-16,-1,YHOO,YAHOO! INC,Information Technology,NASDAQ
275,2017-06-14,2017-06-15,-1,MJN,MEAD JOHNSON NUTRITION,Consumer Staples,New York Stock Exchange Inc.
276,2017-05-31,2017-06-01,1,INFO,IHS MARKIT LTD,Industrials,NASDAQ
277,2017-05-31,2017-06-01,-1,TGNA,TEGNA INC,Consumer Discretionary,New York Stock Exchange Inc.
278,2017-04-06,2017-04-07,1,BFB,BROWN FORMAN CORP CLASS B,Consumer Staples,New York Stock Exchange Inc.
279,2017-04-06,2017-04-07,-1,BF.B,BROWN FORMAN CORP CLASS B,Consumer Staples,New York Stock Exchange Inc.
280,2017-04-03,2017-04-04,1,DXC,DXC TECHNOLOGY,Industrials,New York Stock Exchange Inc.
281,2017-04-03,2017-04-04,1,IT,GARTNER INC.,Information Technology,New York Stock Exchange Inc.
282,2017-04-03,2017-04-04,-1,DNB,DUN & BRADSTREET CORP,Industrials,New York Stock Exchange Inc.
283,2017-03-31,2017-04-03,-1,SWN,SOUTHWESTERN ENERGY,Energy,New York Stock Exchange Inc.
284,2017-02-28,2017-03-24,1,AMD,ADVANCED MICRO DEVICES INC,Information Technology,NASDAQ
285,2017-02-28,2017-03-24,1,ARE,ALEXANDRIA REAL ESTATE EQUITIES IN,Real Estate,New York Stock Exchange Inc.
286,2017-02-28,2017-03-24,1,DISH,DISH NETWORK CORP CLASS A,Consumer Discretionary,NASDAQ
287,2017-02-28,2017-03-24,1,REG,REGENCY CENTERS REIT CORP,Real Estate,New York Stock Exchange Inc.
288,2017-02-28,2017-03-24,1,RJF,RAYMOND JAMES FINANCIAL INC.,Financials,New York Stock Exchange Inc.
289,2017-02-28,2017-03-24,1,SNPS,SYNOPSYS INC,Information Technology,NASDAQ
290,2017-02-28,2017-03-24,-1,ENDP,ENDO INTERNATIONAL PLC,Health Care,NASDAQ
291,2017-02-28,2017-03-24,-1,FSLR,FIRST SOLAR INC,Information Technology,NASDAQ
292,2017-02-28,2017-03-24,-1,FTR,FRONTIER COMMUNICATIONS CORP,Telecommunications,NASDAQ
293,2017-02-28,2017-03-24,-1,HAR,HARMAN INTERNATIONAL INDUSTRIES IN,Consumer Discretionary,New York Stock Exchange Inc.
294,2017-02-28,2017-03-24,-1,LLTC,LINEAR TECHNOLOGY CORP,Information Technology,NASDAQ
295,2017-02-28,2017-03-24,-1,URBN,URBAN OUTFITTERS INC,Consumer Discretionary,NASDAQ
296,2017-01-31,2017-02-28,1,CBOE,CBOE HOLDINGS INC.,Financials,NASDAQ
297,2017-01-31,2017-02-28,1,INCY,INCYTE CORP,Health Care,NASDAQ
298,2017-01-31,2017-02-28,-1,PBI,PITNEY BOWES INC,Industrials,New York Stock Exchange Inc.
299,2017-01-31,2017-02-28,-1,SE,SPECTRA ENERGY CORP,Energy,New York Stock Exchange Inc.
300,2016-12-30,2017-01-31,1,IDXX,IDEXX LABORATORIES INC.,Health Care,NASDAQ
301,2016-12-30,2017-01-31,-1,STJ,ST JUDE MEDICAL INC,Health Care,New York Stock Exchange Inc.

When a company/ticker is removed from the S&P 500, another one is added at the same time. Then, to generate the composition for the months with missing data, I just need to copy the data from the previous month, then find the index of the tickers that were removed, then replace their values (strings) with those that were added (in that respective month), according to the dataframe above. 

The order of the tickers in the same month/column in `df_sp500_tickers` does not matter for this project.

In [50]:
df_sp500_tickers[date(2017, 1, 31)] = df_sp500_tickers[date(2016, 12, 30)]
a = df_sp500_tickers[date(2017, 1, 31)] == 'STJ'
a[a == True]

207    True
Name: 2017-01-31, dtype: bool

In [51]:
df_sp500_tickers[date(2017, 1, 31)][207]

'STJ'

In [52]:
df_sp500_tickers[date(2017, 1, 31)][207] = 'IDXX'
df_sp500_tickers[date(2017, 1, 31)][207]

'IDXX'

The S&P 500 composition in 2017-01-31 is now succesfully generated. I need to do the same thing for the remaining missing data of 2017 (Feb to June). But since this is a repetitive task of finding and replacing/updating values in a pandas series, I created the `return_index_list`, and the `replace_sp500_components` functions to keep things organized.

In [119]:
def return_index_list(tickers_to_search, pandas_series):
    """
    Function to search for the values of a list on a pandas series,
    and return a list with the indexes of the matching values.
    
    tickers_to_search: list with the values to search for.
    pandas_series: dataset where the search will be conducted.
    """
    index_list = []
    
    for ticker_idx in pandas_series.index:
        if pandas_series[ticker_idx] in tickers_to_search:
            index_list.append(ticker_idx)
    
    return index_list

In [120]:
# Function to replace the S&P 500 components
def replace_sp500_components(list_of_indexes, list_of_new_tickers, pandas_series):
    """
    This function replaces the values of a series with the new ones provided.
    It also prints the before and after situation.
    
    list_of_indexes: indexes of the elements to be replaced in pandas_series.
    list_of_new_tickers: list of str, has to be the same len as list_of_indexes.
    pandas_series: dataset where the changes will occur.
    """
    
    print('Before change:')
    for index in list_of_indexes:
        print(index, pandas_series[index])
    print()
    
    for n, index in enumerate(list_of_indexes):
        pandas_series[index] = list_of_new_tickers[n]
    
    print('After change:')
    for index in list_of_indexes:
        print(index, pandas_series[index])

In [121]:
df_sp500_tickers[date(2017, 2, 28)] = df_sp500_tickers[date(2017, 1, 31)]

old_tickers = ['SE', 'PBI']

index_list = return_index_list(old_tickers,
                               df_sp500_tickers[date(2017, 2, 28)])

new_tickers = ['CBOE', 'INCY']

replace_sp500_components(index_list, new_tickers, 
                         df_sp500_tickers[date(2017, 2, 28)])

Before change:
162 SE
503 PBI

After change:
162 CBOE
503 INCY

In [86]:
a = df_sp500_tickers.isnull().sum()
display(a[a == 520])

2017-05-31    520
2017-06-30    520
2022-10-31    520
2022-11-30    520
2022-12-30    520
dtype: int64

In [122]:
df_sp500_tickers[date(2017, 3, 31)] = df_sp500_tickers[date(2017, 2, 28)]

old_tickers = ['URBN', 'LLTC', 'HAR', 'FTR', 'FSLR', 'ENDP']

index_list = return_index_list(old_tickers,
                               df_sp500_tickers[date(2017, 3, 31)])

new_tickers = ['SNPS', 'RJF', 'REG', 'DISH', 'ARE', 'AMD']

replace_sp500_components(index_list, new_tickers,
                         df_sp500_tickers[date(2017, 3, 31)])

Before change:
286 LLTC
442 HAR
497 FTR
501 ENDP
504 FSLR
505 URBN

After change:
286 SNPS
442 RJF
497 REG
501 DISH
504 ARE
505 AMD

In [92]:
a = df_sp500_tickers.isnull().sum()
display(a[a == 520])

2017-05-31    520
2017-06-30    520
2022-10-31    520
2022-11-30    520
2022-12-30    520
dtype: int64

In [90]:
changes_sp500.loc[changes_sp500.DateAfterChange >= datetime(2017, 4, 1)].loc[changes_sp500.DateAfterChange <= datetime(2017, 6, 30)]

,DateBeforeChange,DateAfterChange,Change,Ticker,Name,Sector,Exchange
268,2017-06-15,2017-06-16,1,ALGN,ALIGN TECHNOLOGY INC,Health Care,NASDAQ
269,2017-06-15,2017-06-16,1,ANSS,ANSYS INC,Information Technology,NASDAQ
270,2017-06-15,2017-06-16,1,HLT,HILTON WORLDWIDE HOLDINGS INC,Consumer Discretionary,New York Stock Exchange Inc.
271,2017-06-15,2017-06-16,1,RE,EVEREST RE GROUP LTD,Financials,New York Stock Exchange Inc.
272,2017-06-15,2017-06-16,-1,R,RYDER SYSTEM INC,Industrials,New York Stock Exchange Inc.
273,2017-06-15,2017-06-16,-1,TDC,TERADATA CORP,Information Technology,New York Stock Exchange Inc.
274,2017-06-15,2017-06-16,-1,YHOO,YAHOO! INC,Information Technology,NASDAQ
275,2017-06-14,2017-06-15,-1,MJN,MEAD JOHNSON NUTRITION,Consumer Staples,New York Stock Exchange Inc.
276,2017-05-31,2017-06-01,1,INFO,IHS MARKIT LTD,Industrials,NASDAQ
277,2017-05-31,2017-06-01,-1,TGNA,TEGNA INC,Consumer Discretionary,New York Stock Exchange Inc.
278,2017-04-06,2017-04-07,1,BFB,BROWN FORMAN CORP CLASS B,Consumer Staples,New York Stock Exchange Inc.
279,2017-04-06,2017-04-07,-1,BF.B,BROWN FORMAN CORP CLASS B,Consumer Staples,New York Stock Exchange Inc.
280,2017-04-03,2017-04-04,1,DXC,DXC TECHNOLOGY,Industrials,New York Stock Exchange Inc.
281,2017-04-03,2017-04-04,1,IT,GARTNER INC.,Information Technology,New York Stock Exchange Inc.
282,2017-04-03,2017-04-04,-1,DNB,DUN & BRADSTREET CORP,Industrials,New York Stock Exchange Inc.
283,2017-03-31,2017-04-03,-1,SWN,SOUTHWESTERN ENERGY,Energy,New York Stock Exchange Inc.

In [123]:
df_sp500_tickers[date(2017, 4, 28)] = df_sp500_tickers[date(2017, 3, 31)]

old_tickers = ['SWN', 'DNB', 'BF.B']

index_list = return_index_list(old_tickers,
                               df_sp500_tickers[date(2017, 4, 28)])

new_tickers = ['IT', 'DXC', 'BFB']

replace_sp500_components(index_list, new_tickers,
                         df_sp500_tickers[date(2017, 4, 28)])

Before change:
430 BF.B
483 SWN
491 DNB

After change:
430 IT
483 DXC
491 BFB

In [124]:
df_sp500_tickers[date(2017, 5, 31)] = df_sp500_tickers[date(2017, 4, 28)]

In [125]:
a = df_sp500_tickers.isnull().sum()
display(a[a == 520])

2022-10-31    520
2022-11-30    520
2022-12-30    520
dtype: int64

In [126]:
df_sp500_tickers[date(2017, 6, 30)] = df_sp500_tickers[date(2017, 5, 31)]

old_tickers = ['TGNA', 'MJN', 'YHOO', 'TDC', 'R']

index_list = return_index_list(old_tickers,
                               df_sp500_tickers[date(2017, 6, 30)])

new_tickers = ['INFO', 'RE', 'HLT', 'ANSS', 'ALGN']

replace_sp500_components(index_list, new_tickers,
                         df_sp500_tickers[date(2017, 6, 30)])

Before change:
135 YHOO
324 MJN
492 TGNA
496 R
499 TDC

After change:
135 INFO
324 RE
492 HLT
496 ANSS
499 ALGN

In [127]:
a = df_sp500_tickers.isnull().sum()
display(a[a == 520])

2022-10-31    520
2022-11-30    520
2022-12-30    520
dtype: int64

In [128]:
df_sp500_tickers.head(10)

,2006-10-31,2006-11-30,2006-12-29,2007-01-31,2007-02-28,2007-03-30,2007-04-30,2007-05-31,2007-06-29,2007-07-31,...,2022-03-31,2022-04-29,2022-05-31,2022-06-30,2022-07-29,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-30
0,PMCS,PMCS,PMCS,PMCS,PMCS,BGIXX,PMCS,PMCS,PMCS,CCTYQ,...,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,NaN,NaN,NaN
1,PGL,ADCT,ADCT,PGL,ADCT,PMCS,SANM,SANM,SANM,GAS.2,...,MSFT,MSFT,MSFT,MSFT,MSFT,MSFT,MSFT,NaN,NaN,NaN
2,ADCT,PGL,PGL,SANM,SANM,SANM,DDS,ADCT,GAS.2,DDS,...,AMZN,AMZN,AMZN,AMZN,AMZN,AMZN,AMZN,NaN,NaN,NaN
3,NAV,NAV,SANM,ADCT,DDS,ADCT,ADCT,GAS.2,CCTYQ,QLG,...,TSLA,TSLA,GOOGL,GOOGL,TSLA,TSLA,TSLA,NaN,NaN,NaN
4,DDS,SANM,PMTC,GAS.2,GAS.2,DDS,HPC,HPC,ADCT,MDP,...,GOOGL,GOOGL,TSLA,GOOG,GOOGL,GOOGL,GOOGL,NaN,NaN,NaN
5,CIEN,MDP,NOVL,DDS,NOVL,GAS.2,MDP,DDS,DDS,NOVL,...,GOOG,GOOG,GOOG,TSLA,GOOG,GOOG,GOOG,NaN,NaN,NaN
6,GAS.2,CIEN,GAS.2,HPC,MDP,MDP,GAS.2,CCTYQ,HPC,TRB,...,NVDA,BRKB,BRKB,BRKB,BRKB,BRKB,BRKB,NaN,NaN,NaN
7,NOVL,NOVL,DDS,MDP,HPC,DJ,DJ,MDP,MDP,HPC,...,BRKB,UNH,JNJ,UNH,UNH,UNH,UNH,NaN,NaN,NaN
8,MDP,HPC,MDP,CIEN,DJ,HPC,TEK,TEK,TRB,KBH,...,FB,JNJ,UNH,JNJ,JNJ,JNJ,JNJ,NaN,NaN,NaN
9,HPC,DDS,HPC,TEK,TEK,TEK,CIEN,NOVL,QLG,THC,...,UNH,NVDA,NVDA,NVDA,NVDA,XOM,XOM,NaN,NaN,NaN

#### The dataframe with S&P 500 tickers is now complete!

## 4. Getting data from yahoo finance